# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
env.bak/
env.example/
venv/
venv.bak/
venv.example/
dist/
build/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
cov.xml
*.cover
*.py,cover
*.log

# Translations
*.mo
*.pot

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache

# mypy
.mypy_cache/

# pytype
.pytype/

# pyre type checker
.pyre/

# Cython debug symbols
cython_debug/